.Hero {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.blue {
  color: #F08705 !important;
}
.bgBlue {
  background-color: #F08705 !important;
}

.customBorder {
  border: 3px solid #2395ff !important;
}

.btnGray {
  background-color: #f0f0f0 !important;
}

.customBorderInput {
  border: 1px solid gray;
}

.bgImage {
  /* background-image: url('../../assets/explore/background.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  height: 550px;
}

.infoNext {
  background-color: white !important;
  color: #2395ff !important;
  width: 50px !important;
}

.destination {
  border-radius: 12px;
  box-shadow: 0px 8px 27px rgba(14, 63, 108, 0.19);
}

.infoNext:hover {
  background-color: #a3b0bc !important;
  border-color: white !important;
  color: white !important;
}

.infoBack {
  border-color: white !important;
  color: white !important;
  width: 50px !important;
}
.infoBack:hover {
  background: white !important;
  color: #2395ff !important;
}

.wArrow {
  width: 68px !important;
  height: 50px !important;
}

.textFlight {
  color: #2395ff;
}

.customImageBubble {
  position: relative;
  top: 10px;
  right: 250px;
}

.cardHero {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 0px 10px 10px rgb(221, 216, 216, 0.7) !important;
  border: 1px solid rgb(240, 233, 233) !important;
}

.customCard {
  width: 400px !important;
  margin-left: 0px !important;
  margin-top: -640px !important;
  padding: 40px !important;
  height: auto !important;
}

.customCard .border-destination {
  box-shadow: 1px 2px 10px rgb(221, 216, 216) !important;
  width: auto;
  border-radius: 10px;
}

#trending .customSpace .cardLabel {
  background-color: rgb(243, 233, 233, 0.5);
  width: 100px;
  border-radius: 10px;
  color: white;
}

#trending .customSpace button {
  border: none;
}

.story img {
  padding: 7px;
}

.cardSlider {
  position: relative;
  height: 250px;
  max-width: 200px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 10;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  border-radius: 20px;
}

.cardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.cardLabel {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 33px;
}

.cardDescription {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}

.customSpace {
  padding: 60px !important;
}
.customButton {
  background-color: rgba(255, 255, 255, 0.17) !important;
  align-items: center;
  border: 1px solid white;
  color: white !important;
  border-radius: 15px !important;
  height: 19px !important;
  width: 19px !important;
  display: flex !important;
  justify-content: center !important;
}

.imgCustom {
  max-width: 160px;
  height: 160px;
  border: 5px solid white;
  background-color: #F08705;
}
.spaceCust {
  margin-left: 70px;
}
.customImg {
  width: 800px !important;
  height: auto;
}
.spacing {
  letter-spacing: 0.3em;
}

.cardDestination {
  max-height: 262px !important;
}

@media (min-width: 768px) and (max-width: 825px) {
  .cardDestination {
    max-height: 200px !important;
  }
  .customImg {
    width: 90% !important;
    height: auto;
  }
  .customCard {
    width: 370px !important;
  }
}

@media (max-width: 767px) {
  .customSpace {
    padding: 0 !important;
  }
}

@media (max-width: 767px) {
  .imgFluidHero {
    width: 40% !important;
    height: 50% !important;
  }
  .cusImg {
    margin-top: -120px !important;
  }
  #trending {
    margin-top: 50px !important;
  }
  .customImg {
    width: 100% !important;
    height: auto;
  }
}

@media (max-width: 426px) {
  .none {
    visibility: hidden !important;
  }

  .customCard {
    width: 100% !important;
  }
}
.imageHero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardImage {
  height: 200px;
  object-fit: cover;
}

.trending-overflow {
  overflow-y: scroll !important;
  min-height: 250px;
}

.trending-overflow::-webkit-scrollbar {
  display: none;
}
