.styleBaseLayout {
    position: relative;
    z-index: 10;
    /* top: 170px; */
    margin-top: 170px;
}
.headingTop {
    position: absolute;
    top: 180px;
    z-index: 2;
    left: 15px;
    right: 15px;
}



