.border-blue {
  border: 1px solid #2395ff !important;
}

.text-blue {
  color: #2395ff !important;
}

.bg-blue {
  background-color: #2395ff !important;
}
.text-blue-secondary {
  color: #aefaff !important;
}

.main-border {
  border-radius: 10px !important;
}

.btn-shadow {
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3) !important;
}

.btn-blue {
  background: #2395ff !important;
  color: #ffffff !important;
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3) !important;
  border-radius: 10px !important;
}

.btn-blue-height {
  background: #2395ff !important;
  height: 50px;
  color: #ffffff !important;
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3) !important;
  border-radius: 10px !important;
}

.btn-border-blue-height {
  background: #ffffff !important;
  height: 50px;
  color: #ffffff !important;
  border: 1px solid #2395ff !important;
  border-radius: 10px !important;
}

.text-small {
  font-size: 12px !important;
}
.text-medium {
  font-size: 14px !important;
}

.text-softdark {
  color: #595959 !important;
}

.no-underline {
  text-decoration: none !important;
}
